[Unit]
Description=A terrible hack to change the ubuntu user password because idk how else to do it

[Service]
Type=simple
ExecStart=/bin/bash -c "sleep 8 && echo 'ubuntu:ubuntu' | chpasswd"

[Install]
WantedBy=multi-user.target
