[submodule "vendor/cactus-rt-integrated/cactus-rt"]
	path = vendor/cactus-rt-integrated/cactus-rt
	url = https://github.com/cactusdynamics/cactus-rt.git
[submodule "vendor/cactus-rt-integrated/quill"]
	path = vendor/cactus-rt-integrated/quill
	url = https://github.com/odygrd/quill.git
[submodule "vendor/cactus-rt-integrated/readerwriterqueue"]
	path = vendor/cactus-rt-integrated/readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
[submodule "vendor/argparse"]
	path = vendor/argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "exercise3/src/rclcpp"]
	path = exercise3/src/rclcpp
	url = https://github.com/nightduck/rclcpp.git
	branch = workshop_executor
[submodule "vendor/ros-realtime-rpi4-image"]
	path = vendor/ros-realtime-rpi4-image
	url = https://github.com/ros-realtime/ros-realtime-rpi4-image
